<div
  class="
    flex flex-row
    rounded
    justify-between
    mb-4
    bg-cyan-900
    p-4
    text-white
    shadow
    dark:bg-blueGray-900
  "
>
  <div class="flex flex-row justify-center items-center gap-2">
    <span
      class="rounded px-2 py-1 font-bold bg-cyan-700 dark:bg-blueGray-700"
      >{{ (optionService.options$ | async)?.length }}</span
    >
    <span class="options-title">Options</span>
  </div>
  <button
    class="
      bg-gradient-to-br
      from-emerald-400
      to-emerald-600
      px-3
      py-1
      rounded
      shadow
      opacity-90
      hover:opacity-100
      transition-opacity
      dark:from-amber-400 dark:to-amber-600
    "
    (click)="viewAllOptions()"
    *ngIf="optionService.hasInvisible()"
  >
    Restart
  </button>
  <div class="flex flex-col gap-3">
    <div class="flex flex row justify-end items-center gap-2">
      <label>Remove Option after Spin</label>
      <input
        class="
          border-0
          w-6
          h-6
          transition-opacity
          opacity-90
          cursor-pointer
          rounded
          bg-gradient-to-br
          from-emerald-400
          to-emerald-600
          appearance-none
          text-emerald-600
          focus:outline-none focus:ring-offset-0 focus:ring-0
          hover:opacity-100
          dark:from-amber-400 dark:to-amber-600 dark:text-amber-500
        "
        type="checkbox"
        [(ngModel)]="optionService.removeOptions"
      />
    </div>
    <div class="flex flex row justify-end items-center gap-2">
      <label>Use Timer</label>
      <input
        class="
          border-0
          w-6
          h-6
          transition-opacity
          opacity-90
          cursor-pointer
          rounded
          bg-gradient-to-br
          from-emerald-400
          to-emerald-600
          appearance-none
          text-emerald-600
          focus:outline-none focus:ring-offset-0 focus:ring-0
          hover:opacity-100
          dark:from-amber-400 dark:to-amber-600 dark:text-amber-500
        "
        type="checkbox"
        [(ngModel)]="optionService.useTimer"
      />
      <div *ngIf="optionService.useTimer">
        <input
          class="
            h-6
            w-20
            rounded
            text-sm
            appearance-none
            dark:bg-blueGray-800 dark:text-white
            rounded
            border-2 border-transparent
            dark:border-blueGray-800
            px-2
            py-1
            text-gray-700
            focus:outline-none
            focus:border-cyan-600
            focus:ring-offset-0
            focus:ring-0
            dark:focus:border-amber-600
          "
          type="number"
          min="0"
          [(ngModel)]="optionService.timerDuration"
        />
        <span class="ml-2">sec.</span>
      </div>
    </div>
  </div>
</div>

<div class="flex flex-wrap flex-row gap-4 justify-center p-4">
  <div
    class="
      flex flex-row
      items-center
      bg-opacity-20 bg-white
      dark:bg-black dark:bg-opacity-20
      p-3
      rounded
      shadow
    "
    *ngFor="let option of optionService.options$ | async"
  >
    <input
      #colorPickerInput
      [style.backgroundColor]="option.color"
      class="
        rounded
        w-8
        h-8
        cursor-pointer
        m-0
        p-0
        transition-all
        opacity-90
        hover:opacity-100
        shadow
      "
      [(colorPicker)]="option.color"
      (colorPickerSelect)="optionChanged()"
    />
    <div class="relative h-8 mx-2">
      <input
        class="
          bg-cyan-50
          appearance-none
          border-2 border-cyan-50
          dark:border-blueGray-900 dark:bg-blueGray-900 dark:text-white
          rounded
          w-full
          px-3
          py-1
          text-gray-700
          leading-tight
          focus:outline-none focus:border-cyan-800
          dark:focus:border-amber-600
        "
        [(ngModel)]="option.name"
        (change)="optionChanged()"
      />
    </div>
    <button
      class="
        bg-gradient-to-br
        from-red-400
        to-red-500
        dark:from-red-500 dark:to-red-600
        rounded
        text-white
        w-8
        h-8
        p-1
        transition-opacity
        opacity-90
        hover:opacity-100
        shadow
      "
      (click)="optionService.removeOption(option)"
    >
      <icon-trash></icon-trash>
    </button>
  </div>

  <form
    class="
      flex flex-row
      items-center
      gap-2
      bg-white bg-opacity-30
      dark:bg-black dark:bg-opacity-30
      p-3
      rounded
      shadow
    "
    (submit)="
      $event.preventDefault();
      addOption(addOptionInput.value);
      addOptionInput.value = ''
    "
  >
    <div class="relative h-8">
      <input
        #addOptionInput
        class="
          appearance-none
          border-2 border-cyan-50
          rounded
          w-full
          px-3
          py-1
          text-gray-700
          leading-tight
          focus:outline-none focus:border-cyan-900
          dark:border-blueGray-900
          dark:bg-blueGray-900
          dark:text-white
          dark:focus:border-amber-600
        "
        placeholder="New Option"
      />
    </div>
    <button
      type="submit"
      class="
        bg-gradient-to-br
        from-emerald-400
        to-emerald-600
        dark:from-amber-400 dark:to-amber-600
        rounded
        text-white
        w-8
        h-8
        p-1
        transition-opacity
        opacity-90
        hover:opacity-100
        shadow
      "
      [disabled]="!addOptionInput.value"
    >
      <icon-plus></icon-plus>
    </button>
  </form>
</div>
