<div class="flex flex-row gap-3 justify-center dark:text-white p-2">
  <button
    (click)="timerService.startTimer()"
    *ngIf="!timerService.timerRunning && timerService.currentSecondsLeft > 0"
  >
    <icon-play></icon-play>
  </button>
  <div
    *ngIf="!timerDone; else timerDoneAlert"
    class="
      px-4
      py-2
      bg-cyan-500
      dark:bg-blueGray-700
      rounded
      text-black
      dark:text-white
      font-bold
      pointer-events-none
    "
  >
    {{ timerService.timerValue$ | async }}
  </div>
  <ng-template #timerDoneAlert>
    <div
      class="
        px-4
        py-2
        bg-red-500
        rounded
        text-white
        font-bold
        pointer-events-none
      "
    >
      Time's Up!
    </div>
  </ng-template>
  <button (click)="timerService.pauseTimer()" *ngIf="timerService.timerRunning">
    <icon-pause></icon-pause>
  </button>
  <button
    (click)="timerService.resetTimer()"
    *ngIf="!timerService.timerRunning"
  >
    <icon-reset></icon-reset>
  </button>
</div>
