<div class="main-wrapper" fxLayout="column" fxLayoutAlign="stretch">
  <div class="main-title">
    <div class="container" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="10px">
      <img src="assets/wheelpick-icon.svg" class="main-icon">
      <span>{{ title }}</span>
      <span fxFlex="1 1 auto"></span>
      <a [href]="repoLink" class="repo-link" target="_blank" rel="noopener noreferrer">
        <img src="assets/img/GitHub-Mark-Light-64px.png">
      </a>
    </div>
  </div>
  <div class="container">
    <app-wheel></app-wheel>
    <app-option></app-option>
  </div>
  <span fxFlex="1 1 auto"></span>
  <app-footer></app-footer>
</div>
