<div
  class="container mx-auto flex flex-row justify-center relative"
  [fxShow]="options?.length"
>
  <div id="wheel" class="my-5">
    <canvas
      id="wheel-canvas"
      #spinningWheel
      [width]="wheelWidth > 600 ? 600 : wheelWidth"
      [height]="wheelWidth > 600 ? 600 : wheelWidth"
    ></canvas>
    <div
      id="spin"
      #spinButton
      (click)="spinWheel()"
      [ngStyle]="{
        background: currentOption?.color,
        color: getContrast(currentOption?.color)
      }"
    ></div>
  </div>

  <div
    *ngIf="currentOption && wheelSpun"
    class="
      absolute
      top-0
      left-0
      flex flex-row
      justify-end
      items-end
      w-full
      h-full
    "
  >
    <div
      class="the-chosen-one"
      [ngStyle]="{
        background: currentOption.color,
        color: getContrast(currentOption.color)
      }"
    >
      {{ currentOption.name }}
    </div>
    <canvas #confettiCanvas class="confetti-canvas"></canvas>
  </div>
</div>
